{% extends 'layout1.html' %}

{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/banker.css') }}">
{% endblock %}

{% block title %}Session Code{% endblock %}

{% block page1 %}
  <h3> Welcome to your Session! Tell Other Players to Join your Game via the details below: </h3>
  <br><br><br><br>
  <h1>SESSION CODE : {{sesscode}}</h1>
  <h1>PASSWORD : {{passw}}</h1>
  <br><br><br><br>
  <form class="" action="{{url_for('bankpage',scode=sesscode)}}" method="post">
    <h1><button type="submit">Go to the Banker's Page &#xbb;</button></h1>
  </form>

{% endblock %}
